[submodule "baxi-client"]
	path = baxi-client
	url = git@github.com:salehsoleimani/baxi-client.git
	 branch = master
[submodule "baxi-api"]
	path = baxi-api
	url = git@github.com:salehsoleimani/baxi-api.git
	 branch = main
